.sidebar{
    width: 160px;
    position: absolute;
    // z-index: 1;
    height: 100%;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    
    &__text{
        position: fixed;
    }
}

.index{
    position: relative;
    left: 90px;

}