@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

.rate {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  &__radio {
    display: none;
  }
  &__label {
    float: right;
    font-size: 0;
    color: #d9d9d9;
  }
}


.rate__label:before {
  content: "\f005";
  font-family: FontAwesome;
  font-size: 20px;
}

.rate__label:hover,
.rate__label:hover ~ .rate__label {
  color: #fcd000;
  transition: 0.2s;
}

input:checked ~ .rate__label {
  color: #ccac00;
}

input:checked ~ .rate__label:hover,
input:checked ~ .rate__label:hover ~ .rate__label {
  color: #fcd000;
  transition: 0.2s;
}
