// .search{
//     // display: inline-block;
// }


.user-nav{
    display: flex;
    align-items: center;

    &__dropdown{
        position: relative;
        display: inline-block;

        &:hover &-content{
            display: block;
        }

        &-content{
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            &--link{
                // display: inline-block;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;

                &:hover{
                    background-color: #ddd
                }
            }
        }
    }

    &__dropbtn{
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    &__icon-box{
        position: relative;
        // font-size: 20rem;
    }

    &__item{
        list-style: none;
        display: inline-block;
    }
}